// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.todo-header {
    width: 95%;
}

.priority {
    width: 62px;
}

.show-hide-completed{
    text-decoration: none;
}
.show-hide-completed:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .side-nav {
        display: flex;
        flex-direction: column;
        max-width: 280px;
        height: 92.3vh;
        padding: 1rem;
    }

    .sidebar-btn {
        display: none;
    }

    #side-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-top: 1rem;
        margin-bottom: auto;
    }
}

@media screen and (max-width: 767px) {   
    .todo-header {
        width: 100%
    }

    .task-name {
        margin-left: 0 !important;
        width:fit-content !important;
    }

    .title-check-div {
        width: fit-content !important;
    }

    .new-project-btn {
        margin-right: auto;
        margin-left: 1rem;
    }

    .offcanvas-header {
        padding-bottom: 0;
    }
}