// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.todo-header {
    width: 95%;
}

.priority {
    width: 62px;
}

.show-hide-completed{
    text-decoration: none;
}
.show-hide-completed:hover {
    text-decoration: underline;
}